{% extends "base.html" %}

{% block content %}
<div id="form">
<form method="POST">
    {% if tp.input_type == "Numerical" %}
    <div class="text">Date </div><input type="text" name="date" value="{{dat.date}}">
    <div class="text">Value </div><input type="text" name="value" value="{{dat.value}}">
    {% elif tp.input_type == "Multiple Choice" %}
    <div class="text">Value</div>
    <select name="value">
        {% for i in range(options|length) %}
        <option name="{{options[i]}}">{{options[i]}}</option>
        {% endfor %}
    </select>
    {% else %}
    <div class="text">Date </div><input type="text" name="date" value="{{dat.date}}" readonly>
    <div class="text">Value </div><input type="text" name="value" value="{{dat.value}}">
    {% endif %}
    <div class="text">Details </div><input type="text" name="details" value="{{dat.details}}">
    <br><br>
    <input name="submit" type="submit" value="Edit">
    <input name="submit" type="submit" value="Delete">
</form>
</div>
<style>
    #form{
        font-size: x-large;
        font-weight: bold;
        background-color: rgb(71, 212, 212);
        border: 5em;
        border-radius: 1em;
        
    }
    body{
        background-color:rgb(214, 247, 253);
    }
    #s{
        height: 3em;
        width: 7em;
        background-color: rgb(131, 237, 131);
    }
    input{
        border-radius: 1em;
        height: 2em;
    }
{% endblock %}